.btn-default{
	color: $btn-default-color;
	background-color: $btn-default-bg;
	border-color: $btn-default-border;

	&:hover{
		color: ;
		background-color: darken($btn-default-bg, 10%);
		border-color: darken($btn-default-border, 12%);
	}

	&:focus{
		border-color: darken($btn-default-border, 18%);
		outline: none;
	}
}