$btn-font-weight: normal !default;
$font-size-base: 14px !default;
$btn-font-size-base: $font-size-base !default; 
$btn-padding-y: .5rem;
$btn-padding-x: 1rem;
$btn-border-radius-base: 0px !default;
$btn-border-width: 3px !default;

$line-height-base: 1.5 !default;

$btn-default-color: #333 !default;
$btn-default-bg: #fff !default;
$btn-default-border: #ccc !default;

@import "_base";
@import "_default";
@import "_mixin";